html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing:inherit;
}

.site-container{
    max-width: 1200px;
    background-color:#c1bfbf;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url("http://jenniferlinford.com/images/harryhausens_bg.jpg");
    background-color: #666666;
    font-family: 'Futura';
}

div {
    display: block;
}

/* Typography */

h1{
	color:#8b1d0e;
	margin: .75em;
    font-size:350%;
}

h2 {
	font-family: 'Lobster', cursive;
	color:#ffffff;
	letter-spacing:1px;
	margin: 1em;
    font-size:200%;
}

h3{
    color: #e1d6d0;
    line-height: 1.25em;
    margin: 1em;
    font-size: 125%;
    text-transform: uppercase;
}

h4{
    color: #2a2a2a;
    line-height: 1.25em;
    margin: 1em;
    font-size: 110%;
}

p{
	color: #666666;
	line-height: 2em;
	margin: 0em 2em 0em 2em;
    font-size: 125%;
}

a {
	color: #b24c1e;
	text-decoration: none;
}

a:hover {
    font-family: 'Futura';
	color: #000000;
    text-decoration: underline;
}

/* Header */

header {
	background-color: #8b1d0e;
	}

@media all and (min-width: 800px){
    header img {
        width: calc(100% / 2);
    }
}

@media all and (max-width: 800px){
	header img{
	width: calc(100%);
		}
}

@media all and (max-width: 500px){
	header img{
	display:block;
	width:100%;
		}
}

#logo{
	padding-left:2em;
	padding-right: 2em;
}

/* Main */

#wrapper {
    margin:auto;
}

.container {
    margin: 20px auto;
}

#mainpic img {
    max-width: 1200px;
    width: 100%;
    height: auto;
}				

.main {
	max-width: 1100px;
    width: 100%;
    height: auto;
    margin:auto;
    background-color:#666666;
}

/* Button */

.sample button {
    font-family: 'Futura';
	color: #FFFFFF;
    background-color: #666666;
    text-align: center;
    text-decoration: none;
    line-height:40px;
    margin: 1em 2em 1em 2em;
}

.sample button:hover {
    font-family: 'Futura';
	color: #FFFFFF;
    background-color: #8b1d0e;
    text-align: center;
    text-decoration: none;
    line-height:40px;
}

/* Image Links */

.image_links{
	padding:1em;
}

.image_links img{
	display:inline;
	max-height:350px;
	width: auto;
	margin:auto;
	padding:1em;
}

@media all and (max-width: 650px){
    .image_links img {
        width: calc(100%);
   	}
}

@media all and (max-width: 651px, max-height:500px;){
    .image_links img {
        width: calc(100%);
        margin:auto;
   	}
}

/* menu items */

.food {
    background-image: url(../images/orange-bg.jpg);
    background-repeat: repeat;
    padding:1em;
}

.menu-items{
    padding:1em 1.5em;
    line-height:90%;
    display: inline-block;
    max-width: 375px;
    line-height: 125%;
    vertical-align: text-top;
}


/* Footer */

footer {
		background-color: #8b1d0e;
	}

footer p{
		color: #ffffff;
		text-align: center;
		line-height:60px;
	}