html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing:inherit;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.site-container{
    max-width: 1200px;
    background-color:#c1bfbf;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

nav {
    width:100%;
    display:block;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
  
    background-color: #666666;
    font-family: 'Futura';
}

div {
    display: block;
}

/* Typography */

h1{
	color:#8b1d0e;
	margin: .75em;
    font-size:350%;
}

h2 {
	font-family: 'Lobster', cursive;
	color:#ffffff;
	letter-spacing:1px;
	margin: 1em;
    font-size:200%;
}

h3{
    color: #e1d6d0;
    line-height: 1.25em;
    margin: 1em;
    font-size: 125%;
    text-transform: uppercase;
}

h4{
    color: #2a2a2a;
    line-height: 1.25em;
    margin: 1em;
    font-size: 110%;
}

p{
	color: #666666;
	line-height: 2em;
	margin: 0em 2em 0em 2em;
    font-size: 125%;
}

a {
	color: #b24c1e;
	text-decoration: none;
}

a:hover {
    font-family: 'Futura';
	color: #000000;
    text-decoration: underline;
}

/* Header */

header {
	background-color: #8b1d0e;
	}

@media all and (min-width: 800px){
    header img {
        width: calc(100% / 2);
    }
}

@media all and (max-width: 800px){
	header img{
	width: calc(100%);
		}
}

@media all and (max-width: 500px){
	header img{
	display:block;
	width:100%;
		}
}

#logo{
	padding-left:2em;
	padding-right: 2em;
}

/* Main */

#wrapper {
    margin:auto;
}

.container {
    margin: 20px auto;
}

#mainpic img {
    max-width: 1200px;
    width: 100%;
    height: auto;
}				

.main {
	max-width: 1100px;
    width: 100%;
    height: auto;
    margin:auto;
    background-color:#666666;
}



.chef img{
    display:inline;
    max-height:250px;
    width: auto;
    margin:auto;
    padding:1em;
}

@media all and (max-width: 650px){
    .chef img {
        width: calc(100%);
    }
}

@media all and (max-width: 651px, max-height:500px;){
    .chef img {
        width: calc(100%);
        margin:auto;
    }
}

/* Button */

.sample button {
    font-family: 'Futura';
	color: #FFFFFF;
    background-color: #666666;
    text-align: center;
    text-decoration: none;
    line-height:40px;
    margin: 1em 2em 1em 2em;
}

.sample button:hover {
    font-family: 'Futura';
	color: #FFFFFF;
    background-color: #8b1d0e;
    text-align: center;
    text-decoration: none;
    line-height:40px;
}

/* Image Links */

.image_links{
	padding:1em;
}

.special-items {
    padding:1em 1.5em;
    line-height:90%;
    display: inline-block;
    line-height: 155%;
    vertical-align: text-top;
    width:48%;
}

.special-items img {
    width:100%;
}

.special-items h3 {
    color:#b24c1e;
}

@media all and (max-width: 650px){
    .image_links img {
        width: calc(100%);
   	}
}

@media all and (max-width: 651px, max-height:500px;){
    .image_links img {
        width: calc(100%);
        margin:auto;
   	}
}

/* menu items */

.food {
    background-image: url(../images/orange-bg.jpg);
    background-repeat: repeat;
    padding:1em;
}

.menu-items{
    padding:1em 1.5em;
    line-height:90%;
    display: inline-block;
    max-width: 375px;
    line-height: 125%;
    vertical-align: text-top;
}


/* Footer */

footer {
		background-color: #8b1d0e;
	}

footer p{
		color: #ffffff;
		text-align: center;
		line-height:60px;
	}

.my-slider img{
max-height:400px;
width:auto;
width:100%;

}

.my-slider {
    position:relative;
    overflow:hidden;
}

iframe,
object,
img {
  max-width: 100%;
  height: auto;
}
.unslider-arrow.prev
    { position: relative; 
       color:#ffffff;
    }

    .unslider-arrow.next
    { position: relative; 
       color:#ffffff;
    }


.about {
    height:auto;
    background-color:#8b1d0e;
    padding-bottom: 2em;
}
.about p{
    color:#ffffff;
    font-size:90%;
    text-align:center;
}

.about h2{
    color:#b24c1e;
    text-align:center;
    line-height: 100%;
}

.section-1 {
  float: left;
  margin: 0 1.5%;
  width: 48%;
  height:auto;
}

.section-2 {
  float: right;
  clear: both;
  margin: 0 1.5%;
  width: 48%;
  height:auto;
}

.final {
    height:auto;
    background-color:#8b1d0e;
    padding-bottom: 2em;
    padding-top: 1em;
}
.final p{
    color:#e1d6d0;
    font-size:140%;
    text-align:center;
}

.final h2{
    color:#e1d6d0;
    text-align:center;
    line-height: 100%;
    font-size:250%;
}


footer ul { list-style-type: none; 
    text-align:center;
    padding-bottom: 1em; }
footer li { display:inline; 
    padding: 1em; }
